:root {
  --main: #008bf8;
  --secondary: #f8f8f8;
  --background: #111111;
  --backgroundSecondary: #ebebeb;
  --font-family: 'Open Sans', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  overflow-x: hidden;
  width: 100%;
  font-family: var(--font-family);
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0px;
  word-wrap: break-word;
  font-weight: 400;
  background-color: #f3f0ea;
  color: var(--main-color);
}


a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

.carousel-item{
  display: flex;
  align-items: center;
  justify-content: center;
}

.timeline-horz-card-wrapper{
  outline: none !important;
}


.timeline-horz-card-wrapper .active{
  outline: 2px solid #008bf8 !important;
}

.timeline-card-content{
  padding: 10px 20px !important;
}

.timeline-controls{
  background: #008bf8 !important;
}

.timeline-controls svg{
  color: #008bf8 !important;
}

.card-sub-title{
  margin-top: 1em !important;
}

.card-description{
  margin: 0 !important;
  margin-top: 1em !important;

  padding: 0.5rem 0.5rem 0 0.5rem !important;
}

